@using TaskItSite.Models.MainViewModels
@model AchievementsViewModel
@{
    ViewData["Title"] = "Achievements";
}

<h2 align="center">Achievements</h2>

<form method="post">
    <table style="width:100%;">
        <tr>
            <td align="center">
                <img align="middle" src="~/images/achievements-example.png" />
                <p id="userName" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Achievements for @Model.CurrentUser.FullName :</p>
                @{
                    for (var i = 0; i < Model.AchievementWrapperList.Count; i++)
                    {
                        <div class="form-group">
                            @Html.CheckBoxFor(x => x.AchievementWrapperList[i].IsAchieved)
                            @Html.Label(Model.AchievementWrapperList[i].Achievement.Name)

                            <!-- // Hidden properties stay into the HTTP POST action later.
                                    All achievement attributes must be explicitly listed here -->
                            @Html.HiddenFor(x => x.AchievementWrapperList[i].Achievement.GlobalAchievementID)
                            @Html.HiddenFor(x => x.AchievementWrapperList[i].Achievement.Name)
                            @Html.HiddenFor(x => x.AchievementWrapperList[i].Achievement.AchievementCategoryID)
                            @Html.HiddenFor(x => x.AchievementWrapperList[i].Achievement.Description)
                        </div>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-default">Save</button>
            </td>
        </tr>
    </table>
</form>

