@using TaskItSite.Models.MainViewModels
@model TaskItSite.Models.MainViewModels.FeedViewModel

@{
    ViewData["Title"] = "Feed";
}
@*div ng-app="FeedModule" ng-contoller="FeedCtrl">*@



    <h2>Feed for @Model.CurrentUser.FullName</h2>

<form method="post">
    <div class="form-group" style="margin-top:10px">
        <label asp-for="MyPostText" class="control-label"></label>
        <input asp-for="MyPostText" class="form-control" />
        @Html.Partial("~/Views/Manage/_StatusMessage.cshtml", Model.StatusMessage)
        <button type="submit" class="btn btn-default">Submit post!</button>
    </div>
</form>

    @{
        for (var i = 0; i < Model.FeedItems.Count; i++)
        {
            var q = i;
            string bgcolor = "Khaki";
            string feedTypeText = "";
            FeedItem feedItem = Model.FeedItems[i];

            switch (feedItem.ItemType)
            {
                case FeedItemType.Achievement:
                    {
                        feedTypeText = "earned an achievement";
                        bgcolor = "#FFFF8F";
                        break;
                    }
                case FeedItemType.Task:
                    {
                        feedTypeText = "created a task";
                        bgcolor = "#80CCFF";
                        break;
                    }
                case FeedItemType.Post:
                    {
                        feedTypeText = "posted";
                        bgcolor = "#BFE873";
                        break;
                    }
                case FeedItemType.Default:
                default:
                    {
                        bgcolor = "Khaki";
                        break;
                    }
            }


            <p></p>

            if (Model.CurrentUser == feedItem.FromUser) {                <div style="background-color: @bgcolor;white-space: pre-wrap; padding:5px; padding-left:8px"> <img src="@feedItem.ImageData" width="20" height="20" /> @Html.Label(feedItem.FromUser.FullName) @feedTypeText on @feedItem.Occured
@feedItem.Text
@if (feedItem.Taskid != null)
{<button id="add_butt-@q" onclick="ClonedAchieve(@feedItem.Taskid,@q)">Add</button>}
@if (feedItem.ItemType == FeedItemType.Post && feedItem.FromUser.Id == Model.CurrentUser.Id)
{<a asp-action="PostDelete" asp-route-id="@feedItem.Postid">Delete</a>}
</div>
            }
            else
            {
                <div style="background-color: @bgcolor;white-space: pre-wrap; padding:5px; padding-left:8px"><img src="@feedItem.ImageData" width="20" height="20" /> @Html.Label(feedItem.FromUser.FullName) @feedTypeText on @feedItem.Occured   <a style="font-size:80%" asp-controller="Home" asp-action="SubDelete" asp-route-subscribee="@feedItem.FromUser.Id">Unsubscribe from @feedItem.FromUser.FullName</a>
@feedItem.Text
@if (feedItem.Taskid != null)
{<button id="add_butt-@q" onclick="ClonedAchieve(@feedItem.Taskid,@q)">Add</button>}
@if (feedItem.ItemType == FeedItemType.Post && feedItem.FromUser.Id == Model.CurrentUser.Id)
{<a asp-action="PostDelete" asp-route-id="@feedItem.Postid">Delete</a>}
</div>
            }

        } }



@*</div>*@

<script>
    function ClonedAchieve(elem,q) {
        document.getElementById("add_butt-" + q).innerHTML = "Adding...";
        document.getElementById("add_butt-" + q).disabled = true;
        document.getElementById("add_butt-" + q).style.color = "gray";
            $.ajax({
                url: '@Url.Action("ClonedTask", "Home")',
            data: { id: elem },
        }).done(function () {
            document.getElementById("add_butt-"+q).innerHTML = "Added";
            
            location.reload()
        });

    }
</script>
