@using TaskItSite.Models.MainViewModels
@model SubscriptionsViewModel
@{
    ViewData["Title"] = "Subscriptions";
}

<h2 align="center">Subscriptions</h2>



<h3>Featured Subscriptions:</h3>

<form method="post">
    <table style="width:100%;" >

        <tr>
            <td>
                @{
                    for (var i = 0; i < Model.SubscriptionWrapperList.Count; i++)
                    {
                        <div class="form-group ">
                            <div class="col-xs-12 hoverDiv" style="height: 55px">
                                <div class="col-xs-11">
                                    <div class="col-xs-2">
                                        <img class="img-circle imgSet" src="@Html.Raw(Model.SubscriptionWrapperList[i].SubscribedUser.ProfileImageURL)" />
                                    </div>
                                    <div class="col-xs-8 subscriberName">
                                        @Html.Label(Model.SubscriptionWrapperList[i].SubscribedUser.FullName)
                                    </div>
                                    @Html.HiddenFor(x => x.SubscriptionWrapperList[i].SubscribedUser)
                                    @Html.HiddenFor(x => x.SubscriptionWrapperList[i].SubscribedUserID)
                                </div>
                                <div class="col-xs-1">
                                    <div>
                                        @Html.CheckBoxFor(x => x.SubscriptionWrapperList[i].IsSubscribed, new { @class = "checkbox box" } )
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.Partial("~/Views/Manage/_StatusMessage.cshtml", Model.StatusMessage)
                <button type="submit" class="btn btn-default">Save</button>
            </td>
        </tr>
    </table>
</form>

