@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Or, register with your social media account!</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    // zrasco - Tried doing this with a generic but the URI has relative pathname issues with using ~ in a variable. Putting if/else if just to get it done.
                                    if (provider.Name == "Google")
                                    {
                                        <button type="submit" class="btn btn-default" style="padding:0; border: none; background: none" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="~/images/btn_signin_google.png" /></button>
                                    }
                                    else if (provider.Name == "Facebook")
                                    {
                                        <button type="submit" class="btn btn-default" style="padding:0; border: none; background: none" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="~/images/btn_signin_facebook.png" /></button>
                                    }
                                    else if (provider.Name == "Twitter")
                                    {
                                        <button type="submit" class="btn btn-default" style="padding:0; border: none; background: none" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="~/images/btn_signin_twitter.png" /></button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
