@model IEnumerable<TaskItSite.Models.Task>

@{
    ViewData["Title"] = "List";
}


<head>
    <style>
        .checky {
            width: 25px;
            height: 25px;
        }
    </style>
  <link href="~/css/fullcalendar.css" rel="stylesheet" />
  <!-- calendar dependencies -->
  <script type="text/javascript" src="~/js/angular-sanitize.js"></script>
  <script type="text/javascript" src="~/js/moment.js"></script>
  <script type="text/javascript" src="~/js/fullcalendar.js"></script>
  <script type="text/javascript" src="~/js/gcal.js"></script>

  <!-- Actual calendar stuff -->
  <script type="text/javascript" src="~/js/calendar.js"></script>
  <script>
      //Load events from server
      var personalRawData = @Html.Raw(Json.Serialize(Model));
  </script>
</head>

<body>
    <h2 align="center">Task Manager</h2>
    <!-- <a asp-action="Create1"> Create New </a> -->
    <div ng-app="TaskItApp" ng-controller="CalendarCtrl as CalendarCtrl">
        <button ng-click="viewType = !viewType" class="btn">
            Switch View
        </button>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="list-view" ng-show="!viewType">
                        @foreach (var item in Model)
                        {
                            string IsItRed = "accordionRed";
                            string varrr = "heyo@(item.ID)";
                            int time = DateTime.Compare(item.DueDate, DateTime.Now);
                            if (time < 0)
                            {

                                @Html.CheckBoxFor(m => item.IsActive, new
                            {
                                onclick = "UpdateCustomer(this)",
                                data_customerid = item.ID
                            })

                                <button class="@IsItRed">@Html.DisplayFor(modelItem => item.DueDate) @Html.DisplayFor(modelItem => item.Summary) </button>
                                <div class="panel">
                                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                    <p class="bottomright">
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                    </p>
                                </div>
                            }
                        }

                        @foreach (var item in Model)
                        {
                            string IsItRed = "accordion";
                            int time = DateTime.Compare(item.DueDate, DateTime.Now);
                            if (time >= 0)
                        {

                                @Html.CheckBoxFor(m => item.IsActive, new
                        {
                                @onclick = "UpdateCustomer(this)",
                                data_customerid = item.ID
                        })

                                <button class="@IsItRed">@Html.DisplayFor(modelItem => item.DueDate) @Html.DisplayFor(modelItem => item.Summary) </button>
                                <div class="panel">
                                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                    <p class="bottomright">
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                    </p>
                                </div>

                            }

                        }
                    </div>

                    <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" ng-show="viewType"> </div>

                </div>
                <div class="col-xs">
                    <div id="calPage"></div>
                </div>
             </div>
        </div>
    </div>

    <button id="createTask" class="btn">Create Task</button>

    <script>
        function UpdateCustomer(elem) {

            var isDone = $(elem).is(':checked');
            var cid = $(elem).data('customerid');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateCustomer", "Tasks")',
                data: { check: isDone, customerId: cid },
                success: function (res) {
                console.log(res);
                }
             });

        }
    </script>
     <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                }
            }
    </script>

    <script>
            var acc = document.getElementsByClassName("accordionRed");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                }
            }
    </script>


    <script>
            $("#createTask").click(function () {
                var $detailDiv = $('#calPage'),
                    url = "/Tasks/GetCreate";

                $.get(url, function (data) {
                    $detailDiv.replaceWith(data);
                }).fail(function (error) {
                    console.log(error)
                });
            }
            );

            $("#deleteButton").click(function ( id ) {
                var $detailDiv = $('#calPage'),
                    url = "/Tasks/GetCreate/" + id;

                $.get(url, function (data) {
                    $detailDiv.replaceWith(data);
                }).fail(function (error) {
                    console.log(error)
                });
            }
            );
    </script>
    </body>

  <footer>
      <script src="~/js/taskItCalendar.js"></script>
  </footer>
